.main1 {
  width: 100%;
  height: 450px;
  background-color: #f2f2f2;
  overflow-y: scroll;
  overflow-x: hidden;
}
.row11 {
  background-color: none;
  width: calc(100% - 20pt);
  height: 450px;
  margin-left: 20pt;
  margin-bottom: 20pt;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap
}
.item1 {
  display: inline-block;
  width: 250pt;
  height: 200pt;
  background-color: #fff;
  border-radius: 6pt;
  margin-right: 15pt;
  transition: 0.2s ease-in-out;
}
.item1:link, .item1:visited, .item1:active {
  color: #333;
  text-decoration: none;
}
.item1:hover {
  opacity: 0.75;
  transform: scale(0.98);
  color: #333;
  text-decoration: none;
}
.image1 {
  height: 200pt;
  width: 250pt;
  background-color: #ddd;
  border-radius: 6pt 6pt 0pt 0pt;
  background-size: cover;
  background-position: center center;
}
.item_description1 {
  margin: 0;
  padding-top: 18pt;
  font-size: 17px;
  margin-left: 10pt;
  margin-right: 10pt;
  text-align: center;
  font-family: monospace;
}
